body {
 font-family: industry, sans-serif;
}

.main {
  background-color: grey;
  margin:0px;
}

.name {
  color: white;
  text-align: center;
}

.name h2 {
  size: 64px;
  margin-bottom: 0px;
}

.name h4 {
  size: 48px;
}

.logos a {
  color: white;
}

.about {
  text-align: center;
  width: 50%
}

.logos {
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.about {
  width: 100%;
  overflow: hidden;
}

.about h2 {
  margin-bottom: 25px;
}

.about img {
  margin-bottom: -40%;
  height: 250px;
}

.about p {
  size: 24px;
}

.about-text {
  width: 50%;
  text-align: center;
}

.more-info-row img {
  height: 100px;
}

.more-info-row {
  display: inline-block;
}

.stack {
  width: 33%;
}

.work {
  width: 33%;
}

.other {
  width: 33%;
}
