body {
 font-family: industry, sans-serif;
}

.name {
  color: white;
  height: 100vh;
  background-color: grey;
  text-align: center;
  margin-top: 40%;
}

.name h2 {
  size: 64px;
}

.name h4 {
  size: 48px;
}
